@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;}

/* color, size, weight, font-family, lettering-space */
.subtitle{
  color: #ffb922;
  font-family: 'Cafe24Ssurround';
}

.text_sub{
  color: white;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
}

.text_bold{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-weight: bold;
  font-size: 30px;
}

.text_contents{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 25px;
}

.text_g{
  color: #13682f;
  font-family: 'Cafe24SsurroundAir';

}




body{
  height: 100%;
}


