/* backgroud */
.background{
    margin: 0;
    padding: 0;
    height: 20000px;
    background-image : url(./image/배경.png);
    background-repeat : repeat-y;
    background-size: cover;
}

/* Title */
#title {
    position: relative;
    height: 100vh;
}

#in_title{
    top: 27%;
    left: 13%;
    position: absolute;
    color: white;
    font-family: 'Cafe24SsurroundAir';
    font-size: 55px;
}

#title_b {
    font-family:Cafe24Ssurround;
}

#in_title2{
    text-align: right;
    position: absolute;
    color: white;
    right: 14%;
    top:53%;}

#in_title2_sub{
    font-family: Cafe24SsurroundAir;
    font-size: 40px;
}

#in_title2_text {
    font-family: Cafe24SsurroundAir;
    font-size: 25px;
    line-height: 50px;
}


#in_title2_line{
    background-color: white;
    width: 662.14px;
    height: 1px;
    border-radius: 20%;
}


/* info */

#info{
    position: relative;
    height:100vh;
    display: block;
}



#info_sub{ 
    position: absolute;
    height: 0;
    left: 43%;
    top: 5%;
    font-size: 40px;
    letter-spacing: 0.1em;
    
}

#info_text{
    position: absolute;
    left: 32%;
    top: 25%;
    letter-spacing: -0.011em;
    line-height:40px;
    text-align: center;
}

#consumer {
    border-radius: 50%;
    position: absolute;
    width: 362px;
    height: 362px;
    left: 28%;
    top: 45%;
    background: rgba(254, 174, 0, 0.28);
    text-align: center;
    line-height: 350px;
}

#producter {
    border-radius: 50%;
    position: absolute;
    width: 362px;
    height: 362px;
    left: 50%;
    top: 45%;
    background: rgba(254, 174, 0, 0.28);
    text-align: center;
    line-height: 350px;
}

 /*menual-logo*/

 #logoType_text{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 45%;
    top: 152px;
    letter-spacing: 0.135em;
 }

#threeImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 821px;
    height: 403px;
}

#firstImg{
    position: absolute;
    width: 212px;
    left: 49%;
    top: 7%;
    margin-left: -100px;
}

#firstImg_shape{
    z-index: 1;
    border-radius: 50%;
    background: #89B397;
    position: absolute;
    width: 271px;
    height: 271px;
    left: 0%;
    top: 50%;
}


 #secondImg{
    z-index: 2;
    position: absolute;
    width: 403px;
    left: 48%;
    margin-left: -200px;
    top: 0%;
 }
 
 #secondImg_shape{
    z-index: 2;
    border-radius: 50%;
    background: #CBDED1;
    position: absolute;
    width: 403px;
    height: 403px;
    left: 50%;
    top: 20%;
    margin-left: -200px;
 }


 #thirdImg{
    position: absolute;
    width: 213px;
    right: 49%;
    top: 7%;
    margin-right: -100px;
 }

#thirdImg_shape{
    z-index: 1;
    border-radius: 50%;
    background: #89B397;
    position: absolute;
    width: 271px;
    height: 271px;
    right: 0%;
    top: 50%;
}

/*logoinfo*/
#logoInfo{
    position: relative;
    height:100vh;
    display: block;
    top:50%
}


#principle_text{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 16%;
    top: 19%;
    letter-spacing: 0.135em;
}

#principle_line{
    position: absolute;
    height: 0px;
    left: 16%;
    top: 21%;
    border-radius: 2px;
    width: 283px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
    border: 1.5px solid #FFFFFF;
    margin-top: 9px;
}



#friendly{
    position: absolute;
    width: 123px;
    height: 29px;
    left: 20%;
    top: 45%
}

#nature{
    position: absolute;
    width: 123px;
    height: 32px;
    left: 25%;
    top: 45%;
}

#connect{
    position: absolute;
    width: 123px;
    height: 29px;
    left: 16%;
    top: 42%;
}

#firstCircle{
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 179px;
    left: 17.34%;
    top: 27%;

    background: #07893C;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow1{
    position: absolute;
    width: 100px;
    left: 30%;
    top: 38%;
}

#secondCircle{
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 179px;
    left: 17.34%;
    top: 44%;

    background: #13682F;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow2{
    position: absolute;
    width: 100px;
    left: 30%;
    top: 55%;
}



#thirdCircle{
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 180px;
    left: 17.34%;
    top: 61%;

    background: #07893C;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow3{
    top: 72%;
    position: absolute;
    width: 100px;
    left: 30%;
}

#logoConcept_text{
    position: absolute;
    width: 574px;
    height: 0px;
    left: 43%;
    top: 19%;
    letter-spacing: 0.135em;
}



#logoConcept_line{
    position: absolute;
    height: 0px;
    left: 43%;
    top: 21%;
    width: 561px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
    border: 1.5px solid #FFFFFF;
    margin-top: 9px;
    border-radius: 2px;
}


.logo_img_s{
    width: 120px;    
    margin: 0;
}

#whiteSun {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 45%;
    top: 28%;
}

#socury{
    position: absolute;
    width: 199px;
    height: 121px;
    left: 43%;
    top: 48%;
}

#connected {
    position: absolute;
    width: 146px;
    height: 146px;
    left: 45%;
    top: 66%;
}

#sun{
    line-height: 148%;
    position: absolute;
    width: 338px;
    height: 95px;
    left: 59%;
    top: 30%;

}

#farm{
    position: absolute;
    width: 297px;
    height: 52px;
    left: 59%;
    top: 53%;
    line-height: 148%;
}

#connect_text{
    position: absolute;
    width: 267px;
    height: 74px;
    left: 59%;
    top: 70%;
    line-height: 148%;
}

/*icon*/

#icon{
    position: relative;
    height:100vh;
    display: block;
}

#icon_text{
    position: absolute;
    width: 112.22px;
    height: 0%;
    left: 19%;
    top: 18%;
    letter-spacing: 0.135em;
}

#icon1{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 47%;
}


#icon2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 47%;
}

#icon3{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 47%;
}

#icon4{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 43%;
    top: 65%;
}

#icon5{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 65%;
}

#icon6{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 29%;
}

#icon7{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 29%;
}

#icon8{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 65%;
}

#icon9{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 65%;
}

#icon10{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 29%;
}

#icon11{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 42%;
    top: 47%;
}

#icon12{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 42%;
    top: 29%;
    
}

#bigImg{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 16%;
    top: 34%;
}
