/* info */

#info{
    position: relative;
    height:100vh;
    display: block;
}



#info_sub{ 
    position: absolute;
    height: 0;
    left: 43%;
    top: 5%;
    font-size: 40px;
    letter-spacing: 0.1em;
    
}

#info_text{
    position: absolute;
    left: 32%;
    top: 25%;
    letter-spacing: -0.011em;
    line-height:40px;
    text-align: center;
}

#consumer {
    border-radius: 50%;
    position: absolute;
    width: 362px;
    height: 362px;
    left: 28%;
    top: 45%;
    background: rgba(254, 224, 16, 0.2);;
    text-align: center;
    line-height: 350px;
}

#producter {
    border-radius: 50%;
    position: absolute;
    width: 362px;
    height: 362px;
    left: 50%;
    top: 45%;
    background: rgba(254, 224, 16, 0.2);;
    text-align: center;
    line-height: 350px;
}
/*identity*/
/*circle*/
#backgroundCircle1{
    position: absolute;
    width: 469.94px;
    height: 469.94px;
    left: 4.9%;
    top: 26%;
    background: #106F32;
    transform: matrix(0, 1, 1, 0, 0, 0);
    border-radius: 50%;
}
#backgroundCircle2{
    position: absolute;
    width: 469.94px;
    height: 469.94px;
    left: 33%;
    top: 26%;
    background: #106F32;
    transform: matrix(0, 1, 1, 0, 0, 0);
    border-radius: 50%;
}

#backgroundCircle3{
    position: absolute;
    width: 469.94px;
    height: 469.94px;
    left: 60.8%;
    top: 26%;
    background: #106F32;
    transform: matrix(0, 1, 1, 0, 0, 0);
    border-radius: 50%;
}
/*circle*/
/*slide*/
.slidewrap{
    width: 100%;
    overflow: hidden;
}

.section input[id*="slide"]{
  display: none;
}


.slidelist{
    white-space: nowrap;
    font-size: 0%;
}

.slidelist>li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition:all .5s;
}

.identity_box{
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}


.slidelist label{
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 450px;
    transform: translateY(-50%);
    padding: 50px;
}


.left{
    z-index: 10;
    left: 100px;
    width: 5px;
    height: 5px;
    background:url('./image/left-arrow.png')center center/70% no-repeat;
}

.slidelist>li>div{
    display: block;
    position: relative;
}

.left:hover{
    z-index: 3;
    background: #0B5627;
    width: 20px;
    height: 20px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
}

.right{
    z-index: 10;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1200px;
    top: 470px;
    background: url('./image/right-arrow.png')center center/70% no-repeat;
}

.right:hover{
    z-index: 3;
    background: #0B5627;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1185px;
    border-radius: 50%;
}

.section.slide-control[class*="control"]{display: none;}
.section[id="slide01"]:checked~#slideone{display: block;}
.section[id="slide02"]:checked~#slidetwo{display: block;} 


/*identity*/

#identity_text{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 16%;
    top: 15%;
    letter-spacing: 0.135rem;
}

#identity_text2{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 16%;
    top: 15%;
    letter-spacing: 0.135rem;
}

.identity_line{
    position: absolute;
    width: 930px;
    height: 0px;
    left: 16%;
    top: 18.465%;
    border: 1.5px solid #FFFFFF;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.identityTitle{
    position: absolute;
    width: 823px;
    height: 24px;
    left: 260px;
    top: 45.2%;

    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}

.identityBody{
    position: absolute;
    width: 797px;
    height: 140px;
    left: 15%;
    top: 435px;

    font-family: Cafe24 Ssurround air;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #FFFFFF;
    line-height: 35px;
}

 /*menual-logo*/

 #logoType_text{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 45%;
    top: 18%;
    letter-spacing: 0.135em;
 }

#threeImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 821px;
    height: 403px;
}

#firstImg{
    position: absolute;
    width: 212px;
    left: 49%;
    top: 7%;
    margin-left: -100px;
}

#firstImg_shape{
    z-index: 1;
    border-radius: 50%;
    background: #89B397;
    position: absolute;
    width: 271px;
    height: 271px;
    left: 0%;
    top: 50%;
}


 #secondImg{
    z-index: 2;
    position: absolute;
    width: 403px;
    left: 48%;
    margin-left: -200px;
    top: 0%;
 }
 
 #secondImg_shape{
    z-index: 2;
    border-radius: 50%;
    background: #CBDED1;
    position: absolute;
    width: 403px;
    height: 403px;
    left: 50%;
    top: 20%;
    margin-left: -200px;
 }


 #thirdImg{
    position: absolute;
    width: 213px;
    right: 49%;
    top: 7%;
    margin-right: -100px;
 }

#thirdImg_shape{
    z-index: 1;
    border-radius: 50%;
    background: #89B397;
    position: absolute;
    width: 271px;
    height: 271px;
    right: 0%;
    top: 50%;
}

/*logoinfo*/
#logoInfo{
    position: relative;
    height:100vh;
    display: block;
    top:50%
}


#principle_text{
    position: absolute;
    width: 289.76px;
    height: 0px;
    left: 16%;
    top: 19%;
    letter-spacing: 0.135em;
}

#principle_line{
    position: absolute;
    height: 0px;
    left: 16%;
    top: 21%;
    border-radius: 2px;
    width: 283px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
    border: 1.5px solid #FFFFFF;
    margin-top: 9px;
}



#friendly{
    position: absolute;
    width: 123px;
    height: 29px;
    left: 20%;
    top: 45%
}

#nature{
    position: absolute;
    width: 123px;
    height: 32px;
    left: 25%;
    top: 45%;
}

#connect{
    position: absolute;
    width: 123px;
    height: 29px;
    left: 16%;
    top: 42%;
}

#firstCircle{
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 179px;
    left: 17.34%;
    top: 27%;

    background: #07893C;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow1{
    position: absolute;
    width: 100px;
    left: 30%;
    top: 38%;
}

#secondCircle{
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 179px;
    left: 17.34%;
    top: 44%;

    background: #13682F;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow2{
    position: absolute;
    width: 100px;
    left: 30%;
    top: 55%;
}



#thirdCircle{
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    width: 183px;
    height: 180px;
    left: 17.34%;
    top: 61%;

    background: #07893C;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

#arrow3{
    top: 72%;
    position: absolute;
    width: 100px;
    left: 30%;
}

#logoConcept_text{
    position: absolute;
    width: 574px;
    height: 0px;
    left: 43%;
    top: 19%;
    letter-spacing: 0.135em;
}



#logoConcept_line{
    position: absolute;
    height: 0px;
    left: 43%;
    top: 21%;
    width: 561px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
    border: 1.5px solid #FFFFFF;
    margin-top: 9px;
    border-radius: 2px;
}


.logo_img_s{
    width: 120px;    
    margin: 0;
}

#whiteSun {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 45%;
    top: 28%;
}

#socury{
    position: absolute;
    width: 199px;
    height: 121px;
    left: 43%;
    top: 48%;
}

#connected {
    position: absolute;
    width: 146px;
    height: 146px;
    left: 45%;
    top: 66%;
}

#sun{
    line-height: 148%;
    position: absolute;
    width: 338px;
    height: 95px;
    left: 59%;
    top: 30%;

}

#farm{
    position: absolute;
    width: 297px;
    height: 52px;
    left: 59%;
    top: 53%;
    line-height: 148%;
}

#connect_text{
    position: absolute;
    width: 267px;
    height: 74px;
    left: 59%;
    top: 70%;
    line-height: 148%;
}

/*icon*/

#icon{
    position: relative;
    height:100vh;
    display: block;
}

#icon_text{
    position: absolute;
    width: 112.22px;
    height: 0%;
    left: 19%;
    top: 18%;
    letter-spacing: 0.135em;
}

#icon1{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 47%;
}


#icon2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 47%;
}

#icon3{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 47%;
}

#icon4{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 43%;
    top: 65%;
}

#icon5{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 65%;
}

#icon6{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 29%;
}

#icon7{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 63%;
    top: 29%;
}

#icon8{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 65%;
}

#icon9{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 73%;
    top: 65%;
}

#icon10{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 52%;
    top: 29%;
}

#icon11{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 42%;
    top: 47%;
}

#icon12{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 42%;
    top: 29%;
    
}



.slide1{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 222px;
    top: 289px;
}
