#seesun{
  font-family: 'Cafe24Ssurround';
  font-size: 30px;
  color: white;
}

.logo_img_s{
width: 120px;    
margin: 0;
}

#one_page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 703px;
}

/* keyword */
#dlehd{
  position: relative;
  left:-375px;
}

#keyLine{
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  width: 930px;
}

#keyPadding{
height: 25px;
margin: 50px;
}

#keyTytle{
  text-align:start ;
  position: absolute;
  width: 930px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40.1%;
}

#roundBox{
  height: 428px;
  width: 662px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.round{
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  width: 201px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cafe24SsurroundAir';
  font-size: 25px;
  color: white;
  background-color: #13682F;
  padding: 15px;
}

.round:nth-child(even){
  background-color: #07893C;
}

/* credits */

#creditbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  top: 100px;
}

#tytBox{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 36px;
  margin-top: 170px;
}

#tli{
  width: 74px;
  height: 74px;
  position: relative;
  right: 10px;
  top: -5px;
}
#up{
  position: relative;
  top:-100px;
}

.credit{
  width: 800%;
  height: 249.5px;
  justify-content: center
}

#member{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 170px;
  position: relative;
  bottom: -100px;
}

.members{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 100;
}

.member_img{
  width: 150px;
  margin: 21px;
  cursor: pointer;
}
/* 말풍선 */
/* hover시 동작하게 하는거 왕왕어렵 */
.ballon {
  background-color: #0C7C37;
  border: #ffffff solid 6.5px;
  border-radius: 20px;
  height: 105px;
  width: 140px;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  z-index: 100;
  margin: 20px 0px 10px 10px;
  padding-top: 10px;
  z-index: 100;
  position: absolute;
}

.ballon::after {
  border-style: solid;
  border-top: 10px solid #0C7C37;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  display: block;
  left:74.5px;
  position: absolute;
  top: 120px;
  width: 0;
  z-index: 1;
}

.ballon::before {
  border-style: solid;
  border-top: 19.5px solid #ffffff;
  border-left: 19.5px solid transparent;
  border-right: 19.5px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  display: block;
  left:65px;
  position: absolute;
  top: 120px;
  width: 0;
  z-index: 0;
}

.ballon:first-child{
  left: 205px;
}

.ballon:nth-child(2){
  left: 398px;
}

.ballon:nth-child(4){
  right: 398px;
}

.ballon:last-child{
  right: 205px;
}

/* 속 내용 */
.more{
  width: 140px;
  height: 35px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Cafe24Ssurround';
  color: #0D5B29;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.iscome{
  font-family: 'Cafe24Ssurround';
  color: #FFFFFF;
  font-size: 20;

}

.itIs{
  font-family: 'Cafe24SsurroundAir';
  color: #FFFFFF;
  font-size: 15px;
}

#credit_title_box{
  width: 80%;
  height: 30px;
}

/* 하우스 hover,,, */
.members>div:hover ul{
  display:block;
}


/* footer */
#dlehd2{
  position: relative;
  left:-415px;
}

#footer{
  width: 100%;
  height: 150px;
  background-color: #0D5B29;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 100;
  position: relative;
  bottom: -120px;
}

#byebye{
  width: 300px;
  height: 77px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#byeTxt{
  padding: auto;
  display: inline;
  align-content: space-between;
}

#s_hwt{
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  color: #ffffff;
  margin: 0%;
}

#niceToMeetU{
  font-family: 'Cafe24Ssurround';
  font-size: 30px;
  color: #ffffff;
  margin: 0%;
}

#byeImg{
 width: 75px;
 height: 75px;
}
