/* Title */
#t_text1{
    top: 27%;
    left: 13%;
    position: absolute;
    color: white;
    font-family: 'Cafe24SsurroundAir';
    font-size: 55px;
}

#t_text1 span:nth-child(2) {
    font-family:Cafe24Ssurround;
}

#t_text2{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 35px;
  position: absolute;
  top: 57.7%;
  left: 36.5%;
}

#ttl{
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 64%;
  left: 36.5%;
  width: 700px;
}

#ttbox{
  position: absolute;
  top: 66.5%;
  left: 36.5%;
  display: flex;
  justify-content: space-between;
  width: 587px;
}

#ttbox div div:first-child{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  text-align: center;
  height: 37px;
}

#ttbox div div:last-child{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 15px;
  line-height: 23px;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

#ttspace{
  width: 14px;
}


/* nav */

#nav{
  position: fixed;
  top: 50%;
  margin-top: -85px;
  right: 40px;
  display: flex;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
}

.n_circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

/* infocon */
#explain {
  display: block;
  position: relative;
  height: 100vh;
}

#e_text{
  width: 900px;
  line-height: 2;
  font-family: 'Cafe24SsurroundAir';
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: space-between;
}

/* process */
#process_sub{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 17%;
  font-size: 40px;
  letter-spacing: 0.1em;
}

#pc1, #pc2, #pc3 {
  border-radius: 50%;
  border: solid 2.5px white;
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 35%;
}

#pc1 {
  left: 15%;
}

#pc2 {
  left: 50%;
  transform: translate(-50%, 0);
}

#pc3 {
  right: 15%;
}

.pc_text{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 234px;
  height: 147px;
  text-align: center;

}

.pc_text div{
font-family: Cafe24Ssurroundair;
font-size: 30px;
color: white;
}

.pc_list ul{
  position:absolute;
  left: 56%;
  transform: translate(-50%, 0);
  font-size: 20px;
  text-align: left;
  width: 188px;
  height: 105px;
}

/* menual-concept */




#design_sub{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 8%;
  font-size: 40px;
  letter-spacing: 0.1em;
}

/* key */
#key{
  position: absolute;
  left: 19%;
  top: 27%;
  width: 34%;
  height: 63%;
}

#key_line{
  width: 33vw;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
  border: 1.5px solid #FFFFFF;
  margin-top: 4px;
}

.kc{
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  width: 201px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cafe24Ssurroundair;
  font-size: 25px;
  color: white;
  position: absolute;
}

#kc1, #kc2, #kc3{
  left: 20%;
}

#kc6, #kc4, #kc5{
  left: 30%;
}

#kc1, #kc4{
  top: 34%;
}

#kc2, #kc5{
  top: 51%;
}

#kc3, #kc6{
  bottom: 9%; 
}

#kc1, #kc3, #kc5{
  background-color: #13682F;
}

#kc2, #kc4, #kc6{
  background-color: #07893C;
}

#kc6{
  z-index: 5;
}

#kc5{
  z-index: 4;
}

#kc4{
  z-index: 3;
}

#kc3{
  z-index: 2;
}

#kc2{
  z-index: 1;
}

.karrow{
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  border-radius: 2px;
  position: absolute;
  left: 48.8%;
}

.kline{
  position: absolute;
  left: 43%;
  border: 1.5px solid #FFFFFF;
  width: 100px;
}

#kl1{
  top: 45%;
}

#kl2{
  top: 62%;
}

#kl3{
  top: 79%;
}

#ka1{
  top: 44.4%;
}

#ka2{
  top: 61.4%;
}

#ka3{
  top: 78.4%;
}


/* rule */

#rule{
  position: absolute;
  top: 27%;
  right: 17%;
  width: 21%;
  height: 63%;
}

#rule_line{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.png);
  border: 1.5px solid #FFFFFF;
  margin-top: 4px;
  width: 20vw;
  margin-top: 4px;
}

.rc{
  box-sizing: border-box;
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cafe24Ssurroundair;
  font-size: 25px;
  color: white;
  position: absolute;
  background-color: rgba(0, 157, 68, 0.38);
  right: 23%;
}

#rc1{
  top: 34%;
}

#rc2{
  top: 51%;
}

#rc3{
  bottom: 9%;
}

/* color */

#color_sub{
  position: absolute;
  top: 10%;
  left: 47.55%;
}

#color_box{
  position: relative;
  width: 100%;
  height: 70%;
  background-color: white;
  top: 19%
}

.cc{
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#cc1{
  top: 17%;
  left: 14.9%;
  background-color: #FEE010;
}


#cc2{
  bottom: 17%;
  left: 14.9%;
  background-color: #0F682F;
}


#cc3{
  top: 17%;
  left: 28%;
  background-color: #0F682F;
}


#cc4{
  bottom: 17%;
  left: 28%;
  background-color: #FEE010;
}

#color_code{
  font-family: Cafe24Ssurroundair;
  font-size: 30px; 
  position: absolute;
  top: 19%;
  left: 48.8%;
  word-spacing: 70px;
}

#color_info{
  font-family: Cafe24Ssurroundair;
  font-size: 25px;
  position: absolute;
  left: 48.8%;
  top: 34%;
}

/* typo */
#typo div{
  position: absolute;
    left: 17.2%;
}

#typo_sub{
  top: 16.5%;
}

.tl{
  width: 64.5%;
}

#t1{
  color: white;
  font-family: 'Cafe24Ssurround';
  font-size: 50px;
  letter-spacing: -1.1%;
  top: 33.3%;
}

#tl1{
  top: 41.9%;
  border: 1.5px solid #FFFFFF;
}

#t2{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 40px;
  top: 44.4%;
}

#t3{
  color: white;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
  top: 64.2%;
}

#tl2 {
  border: 1px solid #FFFFFF;
  top: 67.3%;
}

#t4{
  color: white;
  font-family: 'Cafe24Ssurround';
  font-size: 50px;
  top: 69.4%;
}

#tl3{
  border: 0.5px solid #FFFFFF;
  top: 76.6%;
}

#t5{
  color: white;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
  top: 78.6%;
}

/* value */
#value_sub{
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 40px;
  height: 74px;
}

#vt{
  position: absolute;
  top: 21.1%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  line-height: 40px;
}

#vt2{
  position: absolute;
  width: 930px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40.1%;
}

#vl{
  position: absolute;
  top: 44.7%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 930px;
  border: 1.5px solid white;
}

.vc{
  position: absolute;
  top: 50%;
  width: 342px;
  height: 342px;
  border-radius: 50%;
  background-color: rgba(0, 157, 68, 0.38);
  padding: 0;
}

.vct{
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 30px;
  letter-spacing: 0.135em;
}

.vct2{
  position: absolute;
  top: 42.6%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  width: 246px;
}

#vc1{
  left: 16.4%;
}

#vc2{
  left: 50%;
  transform: translate(-50%, 0);
}

#vc3{
  right: 16.4%;
}













