
/* title */

#title {
    position: relative;
    height: 100vh;
}

#in_title{
    top: 27%;
    left: 13%;
    position: absolute;
    color: white;
    font-family: 'Cafe24SsurroundAir';
    font-size: 55px;
}

#title_b {
    font-family:Cafe24Ssurround;
}

#in_title2{
    text-align: right;
    position: absolute;
    color: white;
    right: 14%;
    top:53%;
}

#in_title2_sub{
    font-family: Cafe24SsurroundAir;
    font-size: 40px;
}


#in_title2_text {
    font-family: Cafe24SsurroundAir;
    font-size: 25px;
    line-height: 50px;
}


#in_title2_line{
    background-color: white;
    width: 662px;
    height: 1px;
    border-radius: 20%;
    margin: 2%;
}

/* nav */

#nav{
  position: fixed;
  top: 50%;
  margin-top: -85px;
  right: 40px;
  display: flex;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.navhover{
  color: white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
}

/* infocon */

#explain {
  display: block;
  position: relative;
  height: 100vh;
}

#in_explain {
  width: 900px;
  line-height: 2;
  font-family: 'Cafe24SsurroundAir';
  font-size: 25px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: space-between;
}

/* process */

#process{
  position: re;
}


